body, html{
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    width: 100%;
    height: 100%;
    margin: 0 auto;

} 

.fa{
    padding: 2px;
    font-size: 15;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 3px;
}

.fa-instagram:hover{
    background-image:  linear-gradient(45deg, rgba(214, 184, 85, 0.568), rgba(204, 91, 91, 0.486), rgba(190, 60, 168, 0.5)) !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-facebook:hover{
    background: #2d60a37c !important;
    color:white !important;
    text-decoration: none !important;

}

.fa-twitter:hover{
    background: #4781cc63 !important;
    color:white !important;
    text-decoration: none !important;

}

.fa-facebook{
    background: #2d60a3;
    color:white;
}

.fa-instagram{
    background-image: linear-gradient(45deg, rgb(214, 184, 85), rgb(204, 91, 91), rgb(190, 60, 169));
    color:white;
}

.fa-twitter{
    background: #4781cc;
    color:white;
}
.nav-social{
    display:flex;
    flex-direction: row;
}

.footer{
    color: white;
}

.footer a{
    color:white;
    text-decoration:none;
    text-decoration:underline;
    transition: all 0.3 ease;
}

.footer a:hover{
    opacity: 0.8;
}

.navbar-logo{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 100px;
}

.title-image{
    width: 100%;
    max-height: 600px;
    position: relative;
    align-items: center;
    margin-top: 50px;
    opacity: 0.7;
}

.spacing{
    margin-top: 10px;
}

.heading{
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    z-index:2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-center{
    background: radial-gradient(rgba(89, 249, 255, 0.534), rgba(0, 204, 255, 0.5));
    padding: 30px;
    color: black;
    font-size: 100px;
    font-family: Garamond;
}